/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  min-height: 100dvh;
}

@media screen and (min-width:1280px) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
  }
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Style the scrollbar itself */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}